/* ***************************************************************************************** */
/* Objective - Dev Tool demo from classmate -> Coolors palette using lock feature: */
:root {
  --icy-blue: #add7f6ff;
  --dusty-taupe: #a18276ff;
  --blue-energy: #3f8efcff;
  --granite: #4c6663ff;
  --tan: #dab785ff;
}

/* Objective - My Dev Tool Demo font pairing CSS Code */
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: italic;
}


.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ************************************************************************************************************************** */
/* ***************** Including On Load Animations ************************************ */
/* ************************************************************************************************************************** */

/* .slide-in-bck-center {
	animation: slide-in-bck-center 3.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
} */

/* For the Cards */
.flip-in-hor-bottom {
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

/* For the H1 Tag */
.bounce-in-top {
	animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}


/* ************************************************************************************************************************* */
/* ************************************************ Main Setup ************************************************ */
/* ************************************************************************************************************************* */
/* Grid Set up */
body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  
  /* Use `grid-template` to control the sizing of these areas. */
  /* grid-template-columns: 1fr; */
  grid-template: auto 1fr auto / minmax(375px, 800px) 1fr;

  /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
  grid-template-areas:
    "header"
    "main"
    "footer";
    gap: 0;
    box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color: white;
  font-family: "DM Serif Display", serif;
  text-align: center;
  animation: bounce-in-top 2s;
}

h2 {
  font-size: 25px;
  color: white;
  font-family: "DM Serif Display", serif;
  background-color: var(--dusty-taupe);
  border-radius: 10px 10px 0px 0px;
  margin: 0px 0 0px 0;
  padding: 10px;
  width: 300px;
}

/* ***************************************************** */
/* Adding Neumorphism */
/* ***************************************************** */
button {
  font-family: "DM Serif Display", serif;
  font-size: 25px;

  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

  padding: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


.header-container {
  align-items: center;
  margin: 0 auto;

}

.main-container {
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

p {
  font-family: "Roboto Mono", monospace;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 0px;
}

header {
  background-color: var(--granite);
  grid-area: header;
  font-size: 30px;
  display: flex;
}

aside {
  background-color: var(--blue-energy);
  grid-area: sidebar;
  align-items: center;
  display: none;
}

li {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  padding: 10px;
}

h3 {
  margin: 0 auto;
  font-family: "DM Serif Display", serif;
  font-size: 30px;
  padding: 10px;
}

main {
  background-color: var(--icy-blue);
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--granite);
  box-sizing: border-box;
  padding: 10px;
}


.main-card {
  background-color: rgb(251, 252, 251);
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 10px 10px;
  width: 320px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  animation: flip-in-hor-bottom 3s;
}

.main-card img {
  width: 90%;
  height: auto;
  object-fit: cover;
}


/* ******************************************************************************************************************************* */
/* *************** Bootstrap Media Breakpoints ****************************** */
/* ******************************************************************************************************************************* */
/* Small Screen */
@media screen and (min-width: 576px) {
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    
    /* Use `grid-template` to control the sizing of these areas. */
    grid-template: auto 1fr auto / minmax(275px, 360px) 1fr;

    /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
      gap: 0;
      box-sizing: border-box;
  }

  .main-card {
    width: 340px;
  }

  h2 {
    width: 320px;
    font-size: 30px;
  }

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 20px;
  }


}

/* Medium Screen */
@media screen and (min-width: 768px) {
  body {
    /* margin: 0; */
    min-height: 100vh;
    /* min-width: 100vw; */
    display: grid;
    
    /* Use `grid-template` to control the sizing of these areas. */
    /* grid-template: auto 1fr auto / minmax(275px, 340px) 1fr; */

    /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
      gap: 0;
      box-sizing: border-box;
  }

  .main-card {
    width: 380px;
  }

  h2 {
    width: 360px;
    font-size: 35px;
  }

  h1 {
    font-size: 55px;
  }

  p {
    font-size: 22px;
  }
}

/* Large Screen */
@media screen and (min-width: 992px) {
    body {
    margin: 0 auto;
    min-height: 100vh;
    display: grid;

    /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
      gap: 0;
      box-sizing: border-box;
  }

  .main-card {
    width: 400px;
  }

  h2 {
    width: 380px;
    font-size: 35px;
  }

  h1 {
    font-size: 55px;
  }

  p {
    font-size: 22px;
  }

  aside {
    background-color: var(--blue-energy);
    grid-area: sidebar;
    align-items: center;
    display:block;

  }
}



/* Extra Large Screen */
@media screen and (min-width: 1200px) {  
  .main-container {
    /* align-items: center; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .main-card {
    /* padding: 20px; */
    margin: 20px;
  }

  aside {
    background-color: var(--blue-energy);
    grid-area: sidebar;
    align-items: center;
  }
}

/* Extra Extra Large Screen */
@media screen and (min-width: 1400px) {
  .main-container {
    flex-direction: row;
  }

  aside {
    background-color: var(--blue-energy);
    grid-area: sidebar;
    align-items: center;
  }
}

/* Largest Screen */
@media screen and (min-width: 4400px) {
  .main-container {
    flex-direction: row;
  }

  aside {
    background-color: var(--blue-energy);
    grid-area: sidebar;
    align-items: center;
  }
}